{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Информация об играх</h1>
      <p class="lead">На данной странице можно просматривать и редактировать игры</p>
      <hr class="my-4">
      <p>Чтобы что-то сделать, тыкай на кнопки</p>
        <a href="{{ url_for('add_car') }}">
            <button type="button" class="btn btn-secondary">Добавить игру</button>
        </a>
    </div>
    {% for item in cars %}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title">{{ item[0] }}</h3>
            <p class="card-text">{{ item[1] }}</p>
            <a href="/car/{{ item[2] }}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
    {% endfor %}
{% endblock %}